#body, html{
  font-family: "Bebas Neue", sans-serif;
  min-height: 100%;
}


.home-container{
  border-left: 1px solid #cecdcd;
  border-right: 1px solid #cecdcd;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.352);
  box-shadow: 2px 2px 2px 2px rgb(217, 216, 216);
  padding: 1rem;
}


.carousel-olsc{
  overflow: hidden;
  margin: 0;
  height: 500px;
}

.img-carousel{
  object-fit: cover;
  object-position: center;
  height: 700px;
}

.carousel-item{
  position: relative;
}
.carousel-caption{
  position: absolute;
  top: 300px;
}
.carousel-olsc h5{
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.626);
  padding: 1rem;
  color: white;
}




.home-info-container{
padding: 4rem;
display: flex;
}
.img-map{
  height: 400px;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  opacity: 0.8;
}

.carousel-indicators [data-bs-target].active {
  background-color: #E72326;
}

.carousel-control-prev{
  justify-content: start;
}
.carousel-control-next {
  justify-content: end;
}

.arrow-button{
  height: 100px;
}
.liverpool-cards, .map-container{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.link-card{
  text-decoration: none;
  color: white;
  height: 180px;
  width: 250px;
  margin: 1rem;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-decoration:none;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  user-select: none;
}

.card-category:hover {
  cursor: pointer;
  box-shadow: 0 0 15px rgb(255, 4, 4);
}

.card-team:hover,
.card-staff:hover,
.card-blog:hover,
.card-contact:hover{
  filter: brightness(1);
}

.card-team{
  background-image: url(asset_path('team1.jpg'));
}

.card-staff{
  background-image: url(asset_path('group1.jpg'));
}

.card-blog{
  background-image: url(asset_path('maca-sign.jpeg'));
}

.card-contact{
  background-image: url(asset_path('jhon-henry.jpeg'));
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
