.card-link {
  color: inherit; /* Utiliza el color de texto predeterminado */
  text-decoration: none; /* Elimina el subrayado del texto */
}

.card-link:hover {
  text-decoration: none; /* No subrayar en el hover */
}

.btn-olsc{
  background-color: #E72326;
  color: white;
}

.btn-olsc:hover{
  background-color: white;
  color: #E72326;
  border: 1px solid #E72326;
}

.card-info{
  font-size: 13px;
  margin-top: .5rem;
}

.img-placeholder{
  width: 300px;
  height: 200px;
}
