<footer class="footer">
  <div class="row first-row">
    <div class="col d-flex justify-content-center align-items-center">
      <a href="#">Privacy Policy</a>
      <a href="#">FAQS</a>
    </div>
  </div>

  <div class="row second-row">
    <div class="col d-flex justify-content-center align-items-center">
       <a href="https://www.facebook.com/olsc.ba" aria-label="Facebook" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/olsc_ba/" aria-label="Instagram" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://twitter.com/OLSC_BA" aria-label="X" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a href="https://www.youtube.com/@olscbuenosaires8770" aria-label="YouTube" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="mailto:contact@example.com" aria-label="Email">
          <i class="fas fa-envelope"></i>
        </a>
    </div>
  </div>

  <div class="row third-row">
    <div class="col d-flex justify-content-center align-items-center">
      <p>© COPYRIGHT 2024 OFICIAL SUPPORTERS CLUB - BUENOS AIRES. ALL RIGHTS RESERVED.</p>
    </div>
  </div> <!-- Franja azul superior -->
</footer>
