<h1>Lista de Posts</h1>
 <% if user_signed_in? %>
<%= link_to "Crear Nuevo Post", new_post_path, class: "btn btn-primary" %>
<% end %>

<% @posts.each do |post| %>
  <div class="post">
    <h2><%= link_to "#{post.title}", post_path(post) %></h2>
    <p>Publicado por <%= post.user.username %> el <%= post.created_at.strftime("%d/%m/%Y") %></p>
  </div>
<% end %>
