.navbar-container{
  z-index: 999999;
  position: sticky !important;
  top: 0;
}
.navbar-lewagon {
  height: 100px;
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 6rem;
}

.navbar-nav{
  background-color: white;
}

.avatar{
  width: 50px;
  border-radius: 50%;
}

.nav-link{
  color: #E72326;
}
.nav-link:hover{
  text-decoration: underline;
  background-color: white;
  color: #E72326;
}

.nav-li{
  color: #E72326;
  text-decoration: none;
  margin: 0 12px;
  font-family: "Archivo Black", sans-serif;
  font-size: 1.2rem;
}

.nav-li:hover{
  text-decoration: underline;
}

.avatar:hover{
  cursor: pointer;
}

.flag-container{
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px 1px rgb(146, 203, 221);
}
.bluelight-line, .white-line{
  height: 4px;
  width: 100%;
}
.bluelight-line{
  background-color: deepskyblue;
}
.white-line{
  background-color: white;
}
