.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 2px 2px 2px 1px rgb(217, 216, 216);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 6rem;
}
.avatar{
  width: 50px;
  border-radius: 50%;
}

.nav-link{
  color: #E72326;
}
.nav-link:hover{
  text-decoration: underline;
  background-color: white;
  color: #E72326;
}

.nav-li{
  color: #E72326;
  text-decoration: none;
  margin: 0 12px;
}

.nav-li:hover{
  text-decoration: underline;
}

.avatar:hover{
  cursor: pointer;
}
