.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 2px 2px 2px 1px rgb(217, 216, 216);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 6rem;
}
.avatar{
  width: 50px;
  border-radius: 50%;
}

.nav-link{
  color: red;
}
